* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}

header {
  height: 100px;
  background-color: black;
  padding: 0px 20px;

}

#header-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header h1 {
  color: red;
}

input {
  margin-right: 10px;
  height: 40px;
}

button {
  height: 40px;
}

main {
  height: calc(800px - 100px);
  background-color: #141414;
}
