* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  background-color: #141414;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: black;
  padding: 20px 85px;
}

header h1 {
  color: red;
}

header h5 {
  color: white;
  cursor: pointer;
}

input {
  margin-right: 10px;
  height: 30px;
  width: 200px;
  outline: none;
}

header i {
  height: 30px;
  color: white;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 20px;
  background-color: #141414;
}

.film-box {
  position: relative;
  height: 330px;
  width: 220px;
  margin: 10px;
  background-size: cover;
  border-radius: 10px;
  cursor: pointer;
}

.film-box:hover .info-film {
  display: block;
}

.info-film {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
  background-color: black;
  border: 1px solid white;
}

.info-film strong {
  color: blue;
}

.info-film i {
  color: yellow;
}
