<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.7/dayjs.min.js" integrity="sha512-kZ+x2gdehn6OZMWZSp3Vt5R+v9hQTYEATQwaUfWquhxbvNVAy6IRtYs7asdyxKUTqG0I5ZqBqnzcBrpnHJCAGw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Boolflix</title>
  </head>
  <div id="root">
    <body>
      <header>
          <h1>BOOLFLIX</h1>
          <h5>Home</h5>
          <h5>Serie Tv</h5>
          <h5>Film</h5>
          <h5>Nuovi e popolari</h5>
          <h5>La mia lista</h5>
          <nav>
            <input v-on:keyup.enter="searchFilm" type="text" v-model="userSearch">
            <i @click="searchFilm" class="fas fa-search"></i>
          </nav>
      </header>
      <main>

        <!-- FILM -->
        <div v-for='film in films' :style="(film.poster_path == null) ? {backgroundImage: 'url(' + imgNotAvailable + ')'} : {backgroundImage: 'url(' + prefixPath + film.poster_path + ')'}" class="film-box">
          <div class="info-film">
            <div>
              <h3>FILM</h3>
              <strong>Titolo: </strong>
              <span>{{film.title}}</span>
            </div>
            <div>
              <strong v-if="film.title != film.original_title">Titolo originale: </strong>
              <span v-if="film.title != film.original_title">{{film.original_title}}</span>
            </div>
            <div>
              <div>
                <strong>Genere: </strong>
                <span v-if= 'film.genre_ids[0] === 28'>  Azione </span>
                <span v-if= 'film.genre_ids[0] === 12'>  Avventura </span>
                <span v-if= 'film.genre_ids[0] === 16'>  Animazione </span>
                <span v-if= 'film.genre_ids[0] === 35'>  Commedia </span>
                <span v-if= 'film.genre_ids[0] === 80'>  Crime </span>
                <span v-if= 'film.genre_ids[0] === 99'>  Documentario </span>
                <span v-if= 'film.genre_ids[0] === 18'>  Dramma </span>
                <span v-if= 'film.genre_ids[0] === 10751'>  Famiglia </span>
                <span v-if= 'film.genre_ids[0] === 14'>  Fantasy </span>
                <span v-if= 'film.genre_ids[0] === 36'>  Storia </span>
                <span v-if= 'film.genre_ids[0] === 27'>  Horror </span>
                <span v-if= 'film.genre_ids[0] === 10402'>  Musica </span>
                <span v-if= 'film.genre_ids[0] === 9648'>  Mistero </span>
                <span v-if= 'film.genre_ids[0] === 10749'>  Romanzo </span>
                <span v-if= 'film.genre_ids[0] === 878'>  Fantascienza </span>
                <span v-if= 'film.genre_ids[0] === 10770'>  Film Tv </span>
                <span v-if= 'film.genre_ids[0] === 53'>  Thriller </span>
                <span v-if= 'film.genre_ids[0] === 10752'>  Guerra </span>
                <span v-if= 'film.genre_ids[0] === 37'>  Western </span>
              </div>
              <strong>Lingua: </strong>
              <img :src='"img/" +                     film.original_language + "_flag.jpg"'
                v-if="film.original_language == 'it' || film.original_language == 'en' || film.original_language == 'de' || film.original_language == 'es' " class="flag" alt="flag">
                <span v-else>
                  {{film.original_language}}
                </span>
            </div>
            <div>
              <strong>Cast: </strong>
              <div v-for="actor in film.actors">{{ actor }}</div>
            </div>
            <div>
              <strong>Voto: </strong>
              <span>
                <i v-for="star in film.starFull" class="fas fa-star"></i>
                <i v-for="star in (5 - film.starFull)" class="far fa-star"></i>
              </span>
            </div>
            <div>
              <strong v-if="film.overview != ''">Overview: </strong>
              <p>{{film.overview}}</p>
            </div>
          </div>
        </div>
        <!-- /FILM -->

        <!-- SERIE TV -->
        <div v-for='tv in series' class="film-box"
        :style="(tv.poster_path == null) ? {backgroundImage: 'url(' + imgNotAvailable + ')'} : {backgroundImage: 'url(' + prefixPath + tv.poster_path + ')'}">
          <div class="info-film">
            <div>
              <h3>SERIE TV</h3>
              <strong>Titolo: </strong>
              <span>{{tv.name}}</span>
            </div>
            <div>
              <strong v-if="tv.name != tv.original_name">Titolo originale: </strong>
              <span v-if="tv.name != tv.original_name">{{tv.original_name}}</span>
            </div>
            <div>
              <strong>Genere: </strong>
              <span v-if= 'tv.genre_ids[0] === 10759'>  Azione e avventura </span>
              <span v-if= 'tv.genre_ids[0] === 16'>  Animazione </span>
              <span v-if= 'tv.genre_ids[0] === 35'>  Commedia </span>
              <span v-if= 'tv.genre_ids[0] === 80'>  Crime </span>
              <span v-if= 'tv.genre_ids[0] === 99'>  Documentario </span>
              <span v-if= 'tv.genre_ids[0] === 18'>  Dramma </span>
              <span v-if= 'tv.genre_ids[0] === 10751'>  Famiglia </span>
              <span v-if= 'tv.genre_ids[0] === 10762'>  Ragazzi </span>
              <span v-if= 'tv.genre_ids[0] === 9648'>  Mistero </span>
              <span v-if= 'tv.genre_ids[0] === 10763'>  News </span>
              <span v-if= 'tv.genre_ids[0] === 10764'>  Reality </span>
              <span v-if= 'tv.genre_ids[0] === 10765'>  Sci-Fi & Fantasy </span>
              <span v-if= 'tv.genre_ids[0] === 10766'>  Soap </span>
              <span v-if= 'tv.genre_ids[0] === 10767'>  Talk </span>
              <span v-if= 'tv.genre_ids[0] === 10768'>  War & Politics </span>              
              <span v-if= 'tv.genre_ids[0] === 37'>  Western </span>
            </div>
            <div>
              <strong>Lingua: </strong>
              <img :src='"img/" + tv.original_language + "_flag.jpg"'
              v-if="tv.original_language == 'it' || tv.original_language == 'en' || tv.original_language == 'de' || tv.original_language == 'es' " class="flag" alt="flag">
              <span v-else>
                {{tv.original_language}}
              </span>
            </div>
            <div>
              <strong>Cast: </strong>
              <div v-for="actor in tv.actors">{{ actor }}</div>
            </div>
            <div>
              <strong>Voto: </strong>
              <span>
                <i v-for="star in tv.starFull" class="fas fa-star" class="fas fa-star"></i>
                <i v-for="star in (5 - tv.starFull)" class="far fa-star"></i>
              </span>
            </div>
            <div>
              <strong v-if="tv.overview != ''">Overview: </strong>
              <p>{{tv.overview}}</p>
            </div>
          </div>
        </div>
        <!-- /SERIE TV -->
      </main>
    </body>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
</html>
